{{details}}
<ul>
    <li><a href="{{details['external_urls']['spotify']}}">{{details["display_name"]}}</a></li>
    <li>Follower: {{details["followers"]["total"]}}</li>
    <li><img src="{{details['images'][0]['url']}}" alt="Arpit Sharma"></li>
    <li>Product: {{details["product"]}}</li>
    <li><a href="{{ url_for('playlists') }}">Playlists</a></li>
</ul>
<form action="{{ url_for('logout') }}" method="post">
    <fieldset>
        <div class="form-group">
            <button class="btn btn-default" type="submit">Logout</button>
        </div>
    </fieldset>
</form>